<!doctype html>

<html  ng-app="SongApp" lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type = 'text/css' href='lib/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link rel = 'stylesheet' type  = 'text/css' href = 'styles/main.css'>

    <title>Music History Angular Refactor</title>
  </head>
  <body id='viewMusic' ng-controller = "SongCtrl">
    <!-- Navigation Element -->
    <header>
      <nav class='navbar navbar-default augment-nav container-fluid'>
         <!-- Brand and toggle get grouped for better mobile display -->
        <div class='navbar-header'> 
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='#'>Sharp Tunes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav'>
            <li id = 'refresh-music'><a href='#'>View Music <span class='sr-only'>(current)</span></a></li>
          </ul> 
            <div>
              <input type="text" ng-model="songsearchText" />
            </div>
        </div><!-- /.navbar-collapse -->
      </nav>
    </header>

<div ng-view> </div>

  <!--   <div class = 'container-fluid'>
      <div class='row'>
        <div class='col-sm-5' id = 'control-box'>
          
          <form class= 'form'> 
            <div class='dropdown'>
               <!-filtering by artist -->
             <!--    <select  
                  ng-model="theSong"
                  ng-options="value.artist for value in allSongsArray">
                  <option>-</option>
                </select> 
            </div> -->


            <!-- <div class='dropdown'> -->
             <!-- filter by album -->
       <!--        <select  
                ng-model="theSong"
                ng-options="value.album for value in allSongsArray">
                <option>-</option>
              </select>  
            </div> -->

           <!--  <div>
              Song Name: <input type = "text" ng-model="newSong.title">
            </div>
            <div>
              Song Album: <input type = "text" ng-model="newSong.album">
            </div>
            <div>
              Song Artist: <input type = "text" ng-model="newSong.artist">
            </div>
            <button  ng-click="addSong()">Add to SongList</button>

          </form>  
 -->
      <!--   </div>
        <div class='col-sm-1' id = 'gutter'></div>

        <div class='col-sm-6' id='song-column'> 
          <div id='song-list'>
            <div> 
                <ul class = "filter-songs" ng-repeat="oneSong in allSongsArray | filter: songSearchText">
                  <h5>{{oneSong.title}}</h5>
                  <li> by {{oneSong.artist}} on the album {{oneSong.album}}
                  <button ng-click="killSong(oneSong)"> Delete </button></li>
                </ul>
            </div>
          </div>
        </div>
    </div>
  </div> -->

      <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="lib/bower_components/angular/angular.min.js"></script>
      <script src="lib/bower_components/angular-route/angular-route.js"></script>
      <script src="app/app.js"></script>
      <script src="app/factories/song-storage.js"></script>
      <script src="app/controllers/SongController.js"></script>
      <script src="app/controllers/SongAddController.js"></script>
      <script src="app/controllers/SongDetailController.js"></script>
      <script src="app/filters/capitalize.js"></script>
  </body>
</html>



  
