<!doctype html>

<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' type = 'text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <link rel = 'stylesheet' type  = 'text/css' href = 'styles/main.css'>


  <title>Music History 6</title>
</head>
<body id='viewMusic'>
  <header>
<!-- Navigation Element -->
   <!--  <nav class='navbar navbar-default augment-nav container-fluid'>
      <!-- Brand and toggle get grouped for better mobile display -->
     <!--  <div class='navbar-header'> 
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>MyTunes</a>
      </div> -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav'>
          <li id = 'refresh-music'><a href='#'>View Music <span class='sr-only'>(current)</span></a></li>
          <li><a href='add.html'>Add Music</a></li>
          <li><a href='#'>Profile</a></li>
        </ul> 
      </div> --><!-- /.navbar-collapse -->
    <!-- </nav>
  </header> -->


<!-- Main Columns Container -->



<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nashville Software School</title>
  </head>
  <body ng-app="TodoApp">

    <section ng-controller = "TodoCtrl">
      <h1>{{title}}</h1>
      <div>
        <input type="text" ng-model="searchText" />
      </div>

      <select  
        ng-model="theTodo"
        ng-options="value.name group by value.complete for value in todos">
        <option>--<option>
      </select>  

      <div> 
        <ul class = "todo-list" ng-repeat="todo in todos | filter:searchText">
          <li>{{todo.name}} <button ng-click="killTodo(todo)"> Delete </button></li>
        </ul>
      </div>

      <div>
        <input type = "text" ng-model="newTodo">
        <button  ng-click="addTodo()">Create</button>
      </div>  
    </section> -->

    <!-- searching songs by string or any portion thereof -->
    <!-- <section ng-controller = "SongCtrl">
      <div>
        <input type = "text" ng-model = "songSearchText" placeholder = "Search Songs"/>
      </div>
     
    
      <div> 
        <ul class = "song-list" ng-repeat="song in songs | filter: songSearchText">
          <h3>{{song.title}}<h3>
          <li> by {{song.artist}} on the album {{song.album}}
          <button ng-click="killSong(song)"> Delete </button></li>
        </ul>
      </div> -->


      <!-- <div>
        Song Name: <input type = "text" ng-model="newSong.title">
      </div>
      <div>
        Song Album: <input type = "text" ng-model="newSong.album">
      </div>
      <div>
        Song Artist: <input type = "text" ng-model="newSong.artist">
      </div>
      <button  ng-click="addSong()">Add to SongList</button> -->


    <!-- </section>
     <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="lib/bower_components/angular/angular.min.js"></script>

     <script src="app/app.js"></script>
     <script src="app/controllers/Todo.js"></script>
    <script src="app/controllers/songs.js"></script>
   
  </body>
</html> -->
